<html ng-app="abc">
<head>
<link rel="stylesheet" href="css\bootstrap.min.css">
<script src="js\angular.js"></script>
<script src="js\jquery.min.js"></script>
<script src="js\bootstrap.min.js"></script>
<script src="js\app.js"></script>

</head>
<body ng-controller="ctrl">

<div class="container">
  <div class="jumbotron">
    <h1> To   Do   List </h1>
    </div>
    <div class="row">
      <div class="col-sm-8">
      <input type="text" class="form-control" ng-model="abc">
       </div>
      
      <div class=row>
      <div class="col-sm-4">
   <button type="button" class="btn btn-primary" ng-click="run()">click</button>
  
      </div>

    </div>
    <ul class="list-group">
      <br> <br>
      <li class="list-group-item" ng-repeat="x in a track by $index">  {{x}}</li>
      </div>
</div>

    
</body>
</html>